{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Improved Job Board</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


 <!-- CSRF_TOKEN FOR THE FRONTEND -->

    <script type="text/javascript" >
		
		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getToken('csrftoken');
	</script>
    
<!-- END OF THE CSRF_TOKEN -->

</head>
<body>

<!-- NAV BAR STYLING -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if request.user.role == 'employee' %}
                    <a class="nav-link active" aria-current="page" href="{% url 'employee_home_page' %}">Home</a>
                    <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
                {% else %}
                    <a class="nav-link active" aria-current="page" href="{% url 'employer_home_page' %}">Home</a>
                    <a class="nav-link active" href="{% url 'account_page' %}">Account</a>
                {% endif %}
                
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                {% endif %}
                <a class="nav-link active" href="{% url 'chat_with_ai' %}">Chat with our AI</a>
            </div>
            
            {% if request.user.role == 'employee' %}
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="{% url 'applied_jobs' %}">Applied Jobs</a>
                </div>
            {% elif request.user.role == 'employer' %}
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="{% url 'create_jobs' %}">Create Jobs</a>
                    <a class="nav-link active" href="{% url 'view_applicants' %}">View Applicants</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<!-- FLASH MESSAGES -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- CONTENT -->
{% block content %} 

{% endblock %}

<!-- FOOTER -->
<footer class="bg-dark text-white text-center p-5 mt-5">
    <p>&copy; Tour with us</p>
    <p><a class="text-white" style="text-decoration: none;" href="mailto:abc@def.com">Email us today</a></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
